<section>
  <div>
  <!-- Code Carrousel -->
    <div id="demo" class="carousel slide style-control" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item style-img active">
          <img src="/assets/images/image_carrousel1.jpg" alt="Konektron" width="700" height="250">
          <div class="carousel-caption style-caption">
            <h3>Konektron</h3>
            <p>Conectando Pessoas e Empresas Através da Tecnologia!</p>
          </div>
        </div>
        <div class="carousel-item style-img">
          <img src="/assets/images/image_carrousel2.jpg" alt="Produtos" width="700" height="250">
          <div class="carousel-caption style-caption">
            <h3>Produtos</h3>
            <p>Conheça Nossos Produtos!</p>
          </div>
        </div>
        <div class="carousel-item style-img">
          <img src="/assets/images/image_carrousel3.jpg" alt="Serviços" width="700" height="250">
          <div class="carousel-caption style-caption">
            <h3>Serviços</h3>
            <p>Conheça nossos Serviços!</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev style-control" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next style-control" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!-- Code Carrousel -->
    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item style-list">
        <div class="row">

          <div class="card style-card">
            <div class="card-body">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 style-icons">
                <i class="fas fa-boxes fa-5x style-ico"></i>
                <p class="style-text"><br>Conheça nossos <br>produtos</p>
              </div>
            </div>
          </div>

          <div class="card style-card">
            <div class="card-body">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 style-icons">
                <i class="fas fa-hands-helping fa-4x style-ico"></i>
                <p class="style-text"><br>Conectando <br>pessoas</p>
              </div>
            </div>
          </div>

          <div class="card style-card">
            <div class="card-body">
              <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 style-icons">
                <i class="fas fa-concierge-bell fa-4x style-ico"></i>
                <p class="style-text"><br>Conheça nossos <br>serviços</p>
              </div>
            </div>
          </div>

        </div>
      </li>
      <li class="list-group-item">
        <h2 class="style-title">Novidades</h2>

        <div class="row style-container">
          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product9.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product6.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 29,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <h2 class="style-title">Destaques</h2>

        <div class="row style-container">
          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product7.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product5.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Software</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 39,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <h2 class="style-title">Mais Vendidos</h2>

        <div class="row style-container">
          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product9.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-9 col-sm-3 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product6.png" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 29,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <!-- List group -->
  </div>
</section>

