<section>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
  <ul class="navbar-nav">
  <div class="row style-order">
    <li class="nav-item active">
      <div class="dropdown">
        
      </div>
    </li>
    </div>
  </ul>
</nav>

<div class="container style-container">
  <h4>Produtos</h4>
  <p>Confira nossos produtos!</p>
</div>

<ul class="list-group">
  <li class="list-group-item style-group">
    <div class="row style-prod">

    <!-- Media top -->
    <div class="media">
      <div class="media-body">

      <div class="row">
        <div class="style-filters">
        <ul class="list-group">
          <li class="list-group-item">
            <button (click)="changeImg_1()" class="btn btn-link">
              <img class="card-img-top style-img" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </button>
          </li>
          <li class="list-group-item">
            <button (click)="changeImg_2()" class="btn btn-link">
              <img class="card-img-top style-img" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </button>
          </li>
          <li class="list-group-item">
            <button (click)="changeImg_3()" class="btn btn-link">
              <img class="card-img-top style-img" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </button>
          </li>
          <li class="list-group-item">
            <button (click)="changeImg_4()" class="btn btn-link">
              <img class="card-img-top style-img" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </button>
         </li>
        </ul>
        </div>

        <div class="card style-sec-card">
          <div class="card-body row">

          <div class="card col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 style-card-news">
            <div id="img1" class="style-group-img">
              <img class="card-img-top style-img-prod zoom" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </div>
            <div id="img2" class="style-group-img">
            <img class="card-img-top style-img-prod" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </div>
            <div id="img3" class="style-group-img">
            <img class="card-img-top style-img-prod" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </div>
            <div id="img4" class="style-group-img">
            <img class="card-img-top style-img-prod" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image">
            </div>
          </div>

          <div class="card col-12 col-sm-6 col-md-5 col-lg-5 col-xl-5 style-card-news">
            <div class="card-body">
              <h4 class="card-title style-card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-11 col-lg-11 col-xl-11">
            <div class="card-body">
              <h4 class="card-title style-card-title">Informações Técnicas</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <a href="#" class="btn btn-primary" routerLink="/galery-prod">Continuar Comprando</a>
            </div>
          </div>

          </div>
        </div>

        </div>

        </div>
      </div>

    </div>


  </li>
</ul>

</section>
