<section>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
  <ul class="navbar-nav">
  <div class="row style-order">
    <li class="nav-item active">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-primary style-dropdown-title" data-toggle="dropdown">
          Ordenar <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu style-dropdown">
          <a class="dropdown-item" href="#">Maiores Preços</a>
          <a class="dropdown-item" href="#">Menores Preços</a>
          <a class="dropdown-item" href="#">Mais Relevantes</a>
          <a class="dropdown-item" href="#">Mais Vendidos</a>
        </div>
      </div>
    </li>
    </div>
  </ul>
</nav>

<div class="container style-container">
  <h4>Produtos</h4>
  <p>Confira nossos Serviços!</p>
</div>

<ul class="list-group">
  <li class="list-group-item style-group">
    <div class="row style-prod">

    <!-- Media top -->
    <div class="media">
      <div class="media-body">

      <div class="row">
        <div class="style-filters">
        <ul class="list-group">
          <li class="list-group-item"><h5>Filtros</h5></li>

          <li class="list-group-item">
          <h6>Tipo</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Tipo 1
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Tipo 2
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Tipo 3
            </label>
          </div>
          </li>

          <li class="list-group-item">
          <h6>Faixa de Preço</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Até R$ 100,00
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Entre R$ 101,00 à R$ 500,00
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Entre R$ 501,00 à R$ 1.000,00
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Acima de R$ 1.001,00
            </label>
          </div>
          </li>
        </ul>
        </div>

        <div class="card style-sec-card">
          <div class="card-body">

            <div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-news">
            <div class="card-body">
              <h4 class="card-title style-card-title"><i class="fas fa-desktop"></i> Serviço 1</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <a href="#" class="btn btn-primary" routerLink="/service">Proposta</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-news">
            <div class="card-body">
              <h4 class="card-title style-card-title"><i class="fas fa-desktop"></i> Serviço 2</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <a href="#" class="btn btn-primary" routerLink="/service">Proposta</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-news">
            <div class="card-body">
              <h4 class="card-title style-card-title"><i class="fas fa-desktop"></i> Serviço 3</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <a href="#" class="btn btn-primary" routerLink="/service">Proposta</a>
            </div>
          </div>

          <div class="container style-container-button col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
          </div>
        </div>

        </div>

        </div>
      </div>

    </div>


  </li>
</ul>

</section>
