<section>
<ul class="list-group">
  <li class="list-group-item style-group">
    <!-- Media top -->
    <div class="media">
      <img src="/assets/images/logo-konektron.png" class="align-self-start mr-3" style="width:100px">
      <div class="media-body col-12 style-text">
        <h4>Konektron</h4>
        <p>Konektron é um template para e-commerce que servirá à diversos projetos dos mais
          variados segmentos. A estrutura básica dos sistema deverá ser mantida em cada projeto, sendo
          apenas alterados o design e regras de negócio específicas que não alterem a estrutura geral.
          O sistema web será dividido em dois módulos e uma api própria:
          - E-commerce: o cliente final acessa o site, realiza o cadastramento e usa uma conta para compra
          de produtos e/ou serviços..
          - Dashboard: o nível de acesso para fornecedor pode ser feito com diferentes privilégios.
          - Administrador: acesso completo a todas as funcionalidades.
          -Fabricante: Cadastro/Edição de produtos e/ou serviços.
          Controle financeiro.
          Controle de vendas (mais vendidos, controle de pedido).
          Acesso ao mailing e Lead de clientes.
          - Api: sistema em PHP online utilizando tecnologia Laravel e Composer.
          Também está previsto um aplicativo mobile com a mesma estrutura de módulos e api
          desenvolvida em tecnologia híbrida.
        </p>
        <ul>
          <li>
            <h5>Perspectiva do produto:</h5>
            O sistema web Konektron a ser desenvolvido será responsivo, ou
            seja, poderá ser visualizado em qualquer dispositivo, seja um computador desktop, Monitores
            com tela acima de 40”, tablet’s, Smartphones entre outros. O sistema é dividido em dois
            módulos e uma api própria nas versões para sistema web e aplicativo mobile.
          </li><br>
          <li>
            <h5>Características do usuário:</h5>
            O usuário cliente precisa ter o mínimo de conhecimentos em
            informática e internet para manipular o sistema.
          </li><br>
          <li>
            <h5>Restrições:</h5>
            Para garantir o acesso do usuário ao e-commerce hospedado em um domínio no
            servidor de hospedagem é necessário conexão com a internet e um mínimo de velocidade de
            banda larga, que pode ser pelo menos 102,4 KB/s, além de navegadores atualizados, ou pelo
            menos a antepenúltima versão do navegador mais atual. Considera-se desejável para
            manipulação do sistema o uso de navegador Google Chrome.
          </li><br>
        </ul>
      </div>
    </div>
  </li>
</ul>
</section>

