<section>
  <ul class="list-group">
    <li class="list-group-item style-group">
      <form>
        <br><h3>Entre em Contato!</h3><br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Nome">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-clipboard"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Assunto">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          </div>
          <input type="email" class="form-control" placeholder="E-mail">
        </div>
        <div class="form-group">
          <label for="comment">Mensagem:</label>
          <textarea class="form-control" rows="5" id="msg"></textarea>
        </div>
        
        <button type="button" class="btn btn-primary">Enviar</button>
      </form>
    </li>
  </ul>
</section>
