<section>
<ul class="list-group">
  <li class="list-group-item style-group">
    <!-- Media top -->
    <div class="media">
      <img src="/assets/images/logo-konektron.png" class="align-self-start mr-3" style="width:100px">
      <div class="media-body style-text">
        <h4>Termos de Uso</h4>
        <h5>Definição</h5>
        <p>Konektron é um template para e-commerce que servirá à diversos projetos dos mais
          variados segmentos. A estrutura básica dos sistema deverá ser mantida em cada projeto, sendo apenas
          alterados o design e regras de negócio específicas que não alterem a estrutura geral
        </p>
        <ul>
          <li>
            <h5>Perspectiva do produto:</h5>
            O sistema web Konektron a ser desenvolvido será responsivo, ou
            seja, poderá ser visualizado em qualquer dispositivo, seja um computador desktop, Monitores
            com tela acima de 40”, tablet’s, Smartphones entre outros. O sistema é dividido em dois
            módulos e uma api própria nas versões para sistema web e aplicativo mobile.
          </li><br>
          <li>
            <h5>Características do usuário:</h5>
            O usuário cliente precisa ter o mínimo de conhecimentos em
            informática e internet para manipular o sistema.
          </li><br>
          <li>
            <h5>Restrições:</h5>
            Para garantir o acesso do usuário ao e-commerce hospedado em um domínio no
            servidor de hospedagem é necessário conexão com a internet e um mínimo de velocidade de
            banda larga, que pode ser pelo menos 102,4 KB/s, além de navegadores atualizados, ou pelo
            menos a antepenúltima versão do navegador mais atual. Considera-se desejável para
            manipulação do sistema o uso de navegador Google Chrome.
          </li><br>
          <li>
            <h5>Suposições e dependências:</h5>
            O projeto de sistema a ser desenvolvido dependerá da utilização
            das tecnologias já mencionadas anteriormente partindo-se da premissa de que durante o
            processo os desenvolvedores terão acesso ao conjunto de ferramentas e tecnologias de licença
            livres e componentes comprados necessários ao processo de desenvolvimento.
          </li><br>
        </ul>
        <ul>
          <li>
            <h5>Regras de Uso 1:</h5>
              O uso do template é livre desde que sempre se mantenha as marcas Konektron e OrkneyTech sempre
              visíveis, mesmo que apenas no rodapé da página. A retirada de logos e qualquer identificador
              das marcas é uma violação grave dos termos de uso.
            </li><br>
        </ul>
      </div>
    </div>
  </li>
</ul>
</section>

