<section>
<ul class="list-group">
  <li class="list-group-item style-group">
    <!-- Media top -->
    <div class="media">
      <img src="/assets/images/logo-konektron.png" class="align-self-start mr-3" style="width:100px">
      <div class="media-body style-text">
        <h4>FAQ</h4>
        <p>Principais dúvidas em relação ao Konektron.
        </p>

        <div id="accordion" class="style-accordion">

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                <i class="fas fa-plus"></i> O que é o Konektron?
              </a>
            </div>
            <div id="collapse1" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Konektron é um template de desenvolvimento rápido para e-commerce que servirá à diversos projetos dos mais
                variados segmentos.
              </div>
            </div>
          </div>
          <br>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                <i class="fas fa-plus"></i> Como usar o Konektron?
              </a>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Para saber como usar o Konektron leia os termos de uso que poderá ser encontrado neste site.
              </div>
            </div>
          </div><br>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                <i class="fas fa-plus"></i> Quais as dependências tecnológicas do Konektron?
              </a>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Para desenvolver com o
                Konektron, utilize, de preferência as seguintes ferramentas de mercado e padrões Web Standart,
                como HTML5, CSS3, Sass, JavaScript, JSON, Angular 7+, Bootstrap versão 4+, PHP 7+,
                NodeJS, Wordpress (Blog), MySql, DBVisualizer, Laravel, Composer,
                Protractor, Npm, Karma, Jasmine e Visual Studio Code.
              </div>
            </div>
          </div><br>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                <i class="fas fa-plus"></i> Com quem devo falar se houver algum problema?
              </a>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Entre em contato através da página de contato no site orkneytech.com.br.
              </div>
            </div>
          </div><br>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                <i class="fas fa-plus"></i> Como faço para contribuir com o projeto Konektron?
              </a>
            </div>
            <div id="collapse5" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Entre em contato através da página de contato no site orkneytech.com.br para
                obter maiores informações e se você for autorizado pela OrkneyTech,
                você receberá as credenciais do repositório para realizar alterações no projeto original.
              </div>
            </div>
          </div><br>

          <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                <i class="fas fa-plus"></i> Como faço para contribuir financeiramente com o projeto Konektron?
              </a>
            </div>
            <div id="collapse6" class="collapse" data-parent="#accordion">
              <div class="card-body">
                Entre em contato através da página de contato no site orkneytech.com.br para
                obter maiores informações da conta da empresa para realizar depósitos.
              </div>
            </div>
          </div><br>

        </div>
      </div>
    </div>
  </li>
</ul>
</section>
