<section>
  <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
    <ul class="navbar-nav">
    <div class="row style-order">
      <li class="nav-item active">
        <div class="dropdown">

        </div>
      </li>
      </div>
    </ul>
  </nav>

  <div class="container style-container">
    <h4>Desculpe!</h4>
    <p><i class="fas fa-exclamation-triangle fa-10x"></i></p>
    <p class="style-text-card">Página Não Encontrada, Tente Novamente Mais Tarde!</p>
  </div>

</section>
