<section>
<!-- Grey with black text -->
<nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
  <ul class="navbar-nav">
  <div class="row style-order">
    <li class="nav-item active">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-primary style-dropdown-title" data-toggle="dropdown">
          Ordenar <i class="fas fa-bars"></i>
        </button>
        <div class="dropdown-menu style-dropdown">
          <a class="dropdown-item" href="#">Maiores Preços</a>
          <a class="dropdown-item" href="#">Menores Preços</a>
          <a class="dropdown-item" href="#">Mais Relevantes</a>
          <a class="dropdown-item" href="#">Mais Vendidos</a>
        </div>
      </div>
    </li>
    </div>
  </ul>
</nav>

<div class="container style-container">
  <h4>Produtos</h4>
  <p>Confira nossos produtos!</p>
</div>

<ul class="list-group">
  <li class="list-group-item style-group">
    <div class="row style-prod">

    <!-- Media top -->
    <div class="media">
      <div class="media-body">

      <div class="row">
        <div class="style-filters">
        <ul class="list-group">
          <li class="list-group-item"><h5>Filtros</h5></li>
          <li class="list-group-item">
          <h6>Marca</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Marca 1
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Marca 2
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Marca 3
            </label>
          </div>
          </li>
          <li class="list-group-item">
          <h6>Modelo</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Modelo 1
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Modelo 2
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Modelo 3
            </label>
          </div>
          </li>
          <li class="list-group-item">
          <h6>Tipo</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Tipo 1
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Tipo 2
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" value="">Tipo 3
            </label>
          </div>
          </li>
          <li class="list-group-item">
          <h6>Cor</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Branco
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Preto
            </label>
          </div><div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Cinza
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Azul
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Verde
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Amarelo
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Laranja
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Vermelho
            </label>
          </div>
          </li>
          <li class="list-group-item">
          <h6>Preço</h6>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Até R$ 100,00
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Entre R$ 101,00 à R$ 500,00
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Entre R$ 501,00 à R$ 1.000,00
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Acima de R$ 1.001,00
            </label>
          </div>
          </li>
        </ul>
        </div>

        <div class="card style-sec-card">
          <div class="card-body row">

            <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top style-img" src="https://konektron.orkneytech.com.br/app_web/images/products/product8.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product9.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product6.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 29,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product7.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product3.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product4.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">CD</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product6.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product7.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Livro</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="card col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xl-3 style-card-news" style="width:200px">
            <img class="card-img-top" src="https://konektron.orkneytech.com.br/app_web/images/products/product9.png" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title style-card-title">Shampoo</h4>
              <p class="card-text style-text-card">Lorem ipsum tempus himenaeos sollicitudin consequat varius tortor.</p>
              <p>R$ 9,90</p>
              <a href="#" class="btn btn-primary" routerLink="/product">Comprar</a>
            </div>
          </div>

          <div class="container style-container-button col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
            <button type="button" class="btn btn-outline-primary">Ver Mais</button>
          </div>
          </div>
        </div>

        </div>

        </div>
      </div>

    </div>


  </li>
</ul>

</section>

