<section>
  <!-- Grey with black text -->
  <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-end">
    <ul class="navbar-nav">
    <div class="row style-order">
      <li class="nav-item active">

      </li>
      </div>
    </ul>
  </nav>

  <div class="container style-container">
      <h4>Painel de Controle</h4>
  </div>

  <!-- The Modal -->
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title"><i class="fas fa-sign-out-alt"></i> Sair</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <i class="fas fa-door-open"></i> Você deseja realmente sair da sua conta?
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="logout()">Sair</button>
          </div>

        </div>
      </div>
    </div>

  <div class="container style-nav-mob">
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Minha Conta</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#" routerLink="/dashboard">Painel</a>
            <a class="dropdown-item" href="#" routerLink="/profile">Perfil</a>
            <a class="dropdown-item" href="#" routerLink="/orders">Meus Pedidos</a>
            <a class="dropdown-item" href="#" routerLink="/adresses">Meus Endereços</a>
            <a class="dropdown-item" href="#" routerLink="/cards">Meus Cartões</a>
            <a class="dropdown-item" href="#" routerLink="/recovery">Alterar Senha</a>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">Sair</a>
          </div>
        </li>
      </ul>
    </div>

  <ul class="list-group">
    <li class="list-group-item style-group">
      <div class="row style-prod">

      <!-- Media top -->
      <div class="media">
        <div class="media-body">

        <div class="row">
          <div class="style-filters">
          <ul class="list-group">
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/dashboard">
                <h6>Minha Conta</h6>
              </button>
            </li>

            <li class="list-group-item">
              <img class="card-img-top style-img" src="https://konektron.orkneytech.com.br/app_web/images/avatar/avatar_masc.png" alt="Card image" style="width:60%">
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/dashboard">Painel</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/profile">Perfil</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/orders">Meus Pedidos</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/adresses">Meus Endereços</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/cards">Meus Cartões</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" routerLink="/recovery">Alterar Senha</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn" data-toggle="modal" data-target="#myModal">Sair</button>
            </li>
          </ul>
        </div>

        <div class="card style-sec-card">
          <div class="card-body">

            <div class="card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 style-card-news">
            <div class="card-body">
              <h4 class="card-title style-card-title">Perfil</h4>
              <p class="card-text style-text-card">Atualize seus dados!</p>

              <div class="card-body">

                <div id="alert2" class="alert alert-success alert-dismissible style-alert">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                  <strong>Parabéns!</strong> Atualização Realizada com Sucesso!<br>
                </div>

                <form [formGroup]="formUpdate">
                  <label for="usr">Nome:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="user" formControlName="name" required>
                  </div>

                  <label for="nick">Nickname:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" class="form-control" id="nickname" formControlName="nickname" required>
                  </div>

                  <label for="birthdate">Data de Nascimento:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-calendar-week"></i></span>
                    </div>
                    <input type="text" [textMask]="{mask: maskDate}" class="form-control" id="birthdate" formControlName="birthdate" required>
                  </div>

                  <div class="form-group">
                    <label for="sex">Sexo:</label>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="fas fa-venus-mars"></i>
                        </span>
                      </div>
                      <select class="form-control" id="sex" formControlName="sex">
                        <option>Masculino</option>
                        <option>Feminino</option>
                      </select>
                    </div>
                  </div>

                  <label for="natId">CPF:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" [textMask]="{mask: maskNatId}" class="form-control" id="natId" formControlName="natId" required>
                  </div>

                  <label for="phone">Telefone:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input type="text" [textMask]="{mask: maskPhone}" class="form-control" id="phone" formControlName="phone" required>
                  </div>

                  <label for="email">Email:</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    </div>
                    <input id="email" type="email" class="form-control"
                    formControlName="email" placeholder="Digite seu e-mail!" required>
                  </div>

                  <div id="alert1" class="alert alert-danger alert-dismissible style-alert">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Erro!</strong> Há campos vazios, você deve preenchê-los para prosseguir!
                  </div>

                </form>
                <button type="button" class="btn btn-primary style-btn-submit" (click)="update()">Salvar</button>
              </div>

            </div>
          </div>

          </div>
        </div>

        </div>

        </div>
      </div>

    </div>


    </li>
  </ul>

</section>
